/* Container holding the image and the text */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

.container {
  position: relative;
}

.text {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block1 {
  position: absolute;
  bottom: 0px;
  right: 519px;
  color: white;
  padding-left: 20px;
  padding-right: 500px;
  display: inline-block;
  font-size: 16px;
  /* border-style: solid; */

  width: 200px;
  border: 1px solid white;
  padding: 5px;
  margin: 2px;
}

.text-block2 {
  position: absolute;
  bottom: 0px;
  right: 250px;
  color: white;
  padding-left: 20px;
  padding-right: 250px;
  display: inline-block;
  font-size: 16px;
  /* border-style: solid; */

  width: 250px;
  border: 1px solid white;
  padding: 5px;
  margin: 2px;
}

.text-block3 {
  position: absolute;
  bottom: 0px;
  right: 130px;
  color: white;
  padding-left: 20px;
  padding-right: 130px;
  display: inline-block;
  font-size: 16px;
  /* border-style: solid; */
  width: 100px;
  border: 1px solid white;
  padding: 5px;
  margin: 2px;

}

.box {

  /* border-width: 90px; */
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid #babbc2;
  /* width: 90px; */
  margin-top: 20px;
}

.section-heading {
  background-color: #125160;
  color: white;
  line-height: 50px;
  width: 100%;
}

table,
th,
td {
  border-spacing: 0;
  border: 1px solid #CCCDD4;
  border-collapse: collapse;
  margin-top: 20px;
  height: 40px;
}

.text-block1:hover,
.text-block2:hover,
.text-block3:hover {
  background-color: rgba(71, 255, 200, 0.703);
  cursor: pointer;
}

/* .text-block1 h3.active {
  background-color: rgba(71, 255, 200, 0.703);

} */

table {
  margin-left: auto;
  margin-right: auto;
}

.cluster-table {
  width: 33%;
  max-width: 440px;
}

.cluster-container {
  margin: 20px 40px;
  border: 1px solid black;
}

.table-group1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.table-group1 thead,
.table-group2 thead {
  background-color: #19BA84;
  padding: 50px;
}

.table-group1 td,
.table-group2 td {
  padding: 0 35px;
  text-align: center;
}

.table-group2 {
  display: flex;
  flex-wrap: wrap;
}

#box2 {
  display: none;
}

.logout:hover {
  color: #19BA84;
  cursor: pointer;
}