<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="cluster-container">
        <div class="section-heading">
            <h2>Existing System Analysis</h2>
           </div>
      <div class="table-group1">
        <table class="cluster-table">
          <thead>
            <tr>
              <td colspan="2">User Inputs</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Raplication Factor</td>
              <td>3</td>
            </tr>

            <tr>
              <td>Intermediate Data</td>
              <td>1</td>
            </tr>

            <tr>
              <td>Available disk size for storage(TR)</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>

        <table class="cluster-table2">
          <thead>
            <tr>
              <td colspan="2">Inputs Derived from Data Size Estimation</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Total Existing Data Size(TB)</td>
              <td>2.59</td>
            </tr>
          </tbody>
        </table>

        <table class="cluster-table3">
          <thead>
            <tr>
              <td colspan="2">Calculations</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Total Storage requirement(TB)</td>
              <td>10.4</td>
            </tr>

            <tr>
              <td>Total number of required data nodes(approx.)</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="section-heading">
        <h2>Actual Calculation</h2>
       </div>

      <div class="table-group2">
        <table class="cluster-table4">
          <thead>
            <tr>
              <td colspan="2">User Inputs</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Disk space utilization</td>
              <td>70%</td>
            </tr>

            <tr>
              <td>Compression ratio</td>
              <td>2.3</td>
            </tr>
          </tbody>
        </table>

        <table class="cluster-table5">
            <thead>
                <tr>
                  <td colspan="2">Calculations</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Total storage requirement(TB)</td>
                  <td>4.5</td>
                </tr>
    
                <tr>
                  <td>Available disk size for storage(TB)</td>
                  <td>1.4</td>
                </tr>
    
                <tr>
                  <td>Total number of required data nodes (approx.)</td>
                  <td>3</td>
                </tr>
                <tr>
                    <td>Actual usable cluster size(100%)(TB)</td>
                    <td>4</td>
                  </tr>

              </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
