<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/data size.css">
    {% comment %} alert message bootstrap link  {% endcomment %}
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> {% endcomment %}
  <script src="script.js"></script>
  <title>Home</title>
</head>

<body>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  {% endif %}
 
  <div class="container">
   
    <img src="/static/images/DataSize.jpg" alt="Norway" style="width:100%;">

    <div class="text">
      <h1 style="margin-left: -28cm;">Data.Dot</h1>
       <form action="/logout">
        {% csrf_token %}
        <a href="{% url 'logout' %}"
          style="float: right; margin-left: 32cm; margin-top: -1.8cm; color: white; text-decoration: none;">LogOut</a>

      </form> 


    </div>
    <div onclick="showDiv('box1')" class="text-block1">
      <h3 class="active">Data Size Estimation</h3>

      <!-- <button type="button"><center><h3>Data Size Estimation</h3></center></button>  -->

    </div>
    <div onclick="showDiv('box2')" class="text-block2">
      <h3>Cluster Sizing Estimation</h3>
    </div>
    <div class="text-block3">
      <h3>Sheet 01</h3>
    </div>
  </div>

  </div>


  <div id="box1" class="box">
    <table style="width: 80%">
      <tr>
        <td style="background-color:#EEEDFD;">Existing Data Size</td>
        <td colspan="2">2413.75</td>
      </tr>
      <tr>
        <td style="background-color:#EEEDFD;">Overall Average Estimated % Quaterly Volume Incremental</td>
        <td colspan="2">36%</td>
      </tr>
      <tr>
        <td style="background-color:#EEEDFD;">Additional Data Size(% of Existing Data)</td>
        <td style="width: 6rem;">10%</td>
        <td>241.375</td>
      </tr>
    </table>
    <div class="section-heading">
      <h2>Existing System Analysis</h2>
    </div>
  </div>

  <div id="box2" class="cluster-container">
    <div class="section-heading">
      <h2>Rough Calculation</h2>
    </div>
    <div class="table-group1">
      <table class="cluster-table">
        <thead>
          <tr>
            <td colspan="2">User Inputs</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Raplication Factor</td>
            <td>3</td>
          </tr>

          <tr>
            <td>Intermediate Data</td>
            <td>1</td>
          </tr>

          <tr>
            <td>Available disk size for storage(TR)</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>

      <table class="cluster-table2">
        <thead>
          <tr>
            <td colspan="2">Inputs Derived from Data Size Estimation</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total Existing Data Size(TB)</td>
            <td>2.59</td>
          </tr>
        </tbody>
      </table>

      <table class="cluster-table3">
        <thead>
          <tr>
            <td colspan="2">Calculations</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total Storage requirement(TB)</td>
            <td>10.4</td>
          </tr>

          <tr>
            <td>Total number of required data nodes(approx.)</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="section-heading">
      <h2>Actual Calculation</h2>
    </div>

    <div class="table-group2">
      <table class="cluster-table4">
        <thead>
          <tr>
            <td colspan="2">User Inputs</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Disk space utilization</td>
            <td>70%</td>
          </tr>

          <tr>
            <td>Compression ratio</td>
            <td>2.3</td>
          </tr>
        </tbody>
      </table>

      <table class="cluster-table5">
        <thead>
          <tr>
            <td colspan="2">Calculations</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total storage requirement(TB)</td>
            <td>4.5</td>
          </tr>

          <tr>
            <td>Available disk size for storage(TB)</td>
            <td>1.4</td>
          </tr>

          <tr>
            <td>Total number of required data nodes (approx.)</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Actual usable cluster size(100%)(TB)</td>
            <td>4</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  {% comment %} JS bootstrap link {% endcomment %}
  {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> {% endcomment %}
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> {% endcomment %}
  {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> {% endcomment %}
</body>

</html>